<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>M82U(mock)</title>
</head>
<frameset rows="0,0,89,*" cols="*" framespacing="0" frameborder="no" border="0">
    <frame name="fraHidden" src="{{ url_for('hidden') }}" scrolling="no" noresize="" marginwidth="0" marginheight="0">
    <frame name="fraSingleLogin" src="{{ url_for('single_login') }}" scrolling="no" noresize="" marginwidth="0" marginheight="0">
    <frame name="fraHeader" src="{{ url_for('header') }}" scrolling="no" noresize="" marginwidth="0" marginheight="0">
    <frameset rows="*" cols="225,*" framespacing="0" frameborder="no" border="0">
        <frame name="fraMenu" src="{{ url_for('menu') }}" noresize="" scrolling="auto">
        <frame name="fraMain" src="{{ url_for('accinfo') }}" noresize="">
    </frameset>
</frameset>
</html>
<!--<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>:: M9Bet Management ::</title>  
    
</head>
    <frameset rows="0,0,89,*" cols="*" framespacing="0" frameborder="no" border="0">
		<frame name="fraHidden" src="./work_project_ams_home-main/index/Hidden.html" scrolling="no" noresize="" marginwidth="0" marginheight="0">
		<frame name="fraSingleLogin" src="./work_project_ams_home-main/index/SingleLogin.html" scrolling="no" noresize="" marginwidth="0" marginheight="0">
		<frame name="fraHeader" src="./work_project_ams_home-main/index/header.html" scrolling="no" noresize="" marginwidth="0" marginheight="0">
		<frameset rows="*" cols="225,*" framespacing="0" frameborder="no" border="0">
			<frame name="fraMenu" src="./work_project_ams_home-main/index/Menu.html" noresize="" scrolling="auto">
		    			    
		    <frame name="fraMain" src="./work_project_ams_home-main/index/accinfo.html" noresize="">	    
		    
		</frameset>
	</frameset>

</html>
